.display-window {
  border-radius: 5px;
  height : 100px;
  width: 70%;
  margin: auto;
  background : #FFF;
  color: hotpink;

  display : flex;
  justify-content: center;
  align-items: center;
  font-size : 2rem;

  position:relative;
}

.display-window__content {
  width: 35ch;
  margin: auto;
  text-align : center;
}

.display-window__content::before {
  content: open-quote;
}

.display-window__content::after {
  content: close-quote;
}

.display-window button {
  position: absolute;
  right: 50px;
}
