.navbar {
  background : silver;
  padding: 1em;

  display : flex;
  align-items : flex-start;
  justify-content : space-between;
}

.navbar__links {
  list-style-type: none;
  display : flex;
  flex-direction: column;
  gap: 1em;
}

.navbar__link button{
  padding: 1em;
  width: 100%
}