.navbar {
  background      : silver;
  padding         : 1em;

  display         : flex;
  align-items     : center;
  justify-content : space-between;
}

.navbar__title {
  margin-inline : auto;
  font-size     : 3em;
}

.navbar__links {
  list-style-type : none;
  display         : flex;
  flex-direction  : column;
  gap             : 1em;
}

.navbar__link {
  display : flex;
}

.navbar__link :first-child {
  padding : 1em;
  width   : 150px;
  height: 50px;
  font-weight : 600;
  color: #333;
  text-align : center;
  text-decoration : none;
  background : #F4F4F4;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}