.message-type-form__container {
  background      : #FFF;
  color           : #000;
  width           : 70%;
  height          : 150px;
  margin          : auto;
  padding         : 1rem;

  display         : flex;

  justify-content : center;
  align-items     : center;
}

.message-type-form__container form {
  display               : grid;
  grid-template-columns : repeat(2, 1fr);

  justify-content       : center;
  align-items           : center;
  grid-gap              : 1rem;
}

#submit-bouton {
  grid-column : 1/3;
  padding       : .5em;
  color         : #777;
  border-radius : 5px;
  outline       : 1px solid #333;
  border        : none;
  font-size     : 1.1rem;
  transition    : background-color 0.2s ease-in-out;
}

#submit-bouton:hover {
  cursor           : pointer;
  background-color : pink;
  outline          : 1px solid pink;
  color            : #FFF;
}